.navigation {
    display:none;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 15px;
    padding-bottom:10px;
    margin-top: 0px;

}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    font-weight: bold;
}

.nav-icons svg {
    display:none;
}


@media only screen and (min-width: 1130px) {
    .MuiBox-root.css-i9gxme {
        display:none;
    }

    .navigation {
        display:flex;
        width:100%;
        padding-top: 10px;
    }
    
    .navigation ul {
        float:right;
        list-style-type: none;
        margin:auto;
    }
    
    .navigation ul li {
        float: left;
        padding-right: 25px;
        font-weight: bold;
        color: rgba(4, 17, 29, 0.75);
    }
    
    .logo {
        width: 10%;
    }
    
    .search-box {
        width:50%;
        display:flex;
        justify-content: right;
    }
    
    .nav-menu {
        display:block;
        width: 33%;
        margin:auto;
    }
    
    .nav-icons {
        width:7%;
        display:flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .nav-icons > svg {
        display:block;
        margin-right:25px;
    }
    
    
    
}



