.navigation {
    display:none;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 15px;
    padding-bottom:10px;
    margin-top: 0px;

}

.nav-icons svg {
    display:none;
}

.search-box {
    width: 75%;
}

.search-box input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

@media only screen and (min-width: 1130px) {
    .MuiBox-root.css-i9gxme {
        display:none;
    }

    .navigation {
        display:flex;
        width:100%;
        padding: 10px;
    }
    
    .navigation ul {
        float:right;
        list-style-type: none;
        margin:auto;
    }
    
    .navigation ul li {
        float: left;
        padding-right: 25px;
        font-weight: bold;
        color: rgba(4, 17, 29, 0.75);
    }
    
    .logo {
        width: 10%;
    }
    
    .search-box {
        width:75%;
        height: 28px;
        padding-bottom: 15px;
    }

    .search-box input {
        width: 100%;
        padding: 10px;
        border: 1px solid #f1f1f1;
    }
    
    
    .nav-icons {
        width:15%;
        display:flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .nav-icons > svg {
        display:block;
        margin-right:25px;
    }
    
    
    
}



